body {
  background-color: white;
  color: lightblue;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.paragraph1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.paragraph2 {
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  color: black;
}

.paragraph3 {
  position: absolute;
  top: 36%;
  left: 10%;
  right: 10%;
  color: black;
}

.paragraph4 {
  position: absolute;
  top: 44%;
  left: 10%;
  right: 10%;
  color: black;
}

.video {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
