body {
  background-color: green;
  color: lightblue;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.paragraph1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.paragraph2 {
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
  color: black;
}

.paragraph3 {
  position: absolute;
  top: 36%;
  left: 10%;
  right: 10%;
  color: black;
}

.paragraph4 {
  position: absolute;
  top: 44%;
  left: 10%;
  right: 10%;
  color: black;
}

.paragraph5 {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.paragraph6 {
  position: absolute;
  top: 115%;
  left: 10%;
  right: 10%;
  color: black;
}

.paragraph7 {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.paragraph8 {
  position: absolute;
  top: 135%;
  left: 10%;
  right: 10%;
  color: black;
}

.paragraph9 {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.paragraph10 {
  position: absolute;
  top: 164%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.paragraph11 {
  position: absolute;
  top: 195%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.video {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link1 {
  position: absolute;
  top: 175%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: black;
}

.link2 {
  position: absolute;
  top: 175%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: black;
}
